@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
*{
   
    font-family: 'Poppins', sans-serif;
}

.navbar .navbar-nav a{
    font-family: 'Noto Sans', sans-serif;

}

.hero-container h1{
    font-size: 40px;
}

.hero-container {
    /* width: max-content; */
    height: fit-content;
}

.hero-container .header-content{
    padding: 0 0 0 220px;
}

.hero-container .bg-header{
    padding: 0 !important;
    width: 100%;
    background-color: #F6F6F6;
}

.bg-card{
    color:  #FFDFAA;
}

.container .d-flex button {
    color: #F6F6F6;
    border: #F6F6F6;
    background-color: #DF4551;
    font-size: 16px;
    padding: 15px 32px;
    text-align: center;
    border-radius: 3px;
}


@media (max-width: 980px) { 
    .hero-container .header-content{
        position: static;
        text-align: center;
        z-index: 1;
    }
    .hero-container .gambar-banner img{
        width: max-content;
    }
}

@media (min-width: 768px) {  }

@media (min-width: 992px) {  }

@media (min-width: 1200px) {  }

@media (min-width: 1400px) {  }

/* about */
.about {
    margin-top: 6%;
}

.about .container h3{
    font-weight: 700;
}

.about .container .text{
    font-weight: 100;
    font-size: 18px;
}

.about .img-about img {
    width: 600px;
    padding: 20px;
    margin: 0 25px 0 25px;
}

/* usecase */
.usecase {
    margin-top: 6%;
}

.usecase span {
    color: #DF4551;
    font-weight: 600;
}

.usecase .card {
    background-color: #FFDFAA;
    padding: 15px;
    margin: 10px 10px 10px 10px;
    border: #FFDFAA;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.feature .card {
    background-color: #fff;
    padding: 15px;
    margin: 10px 10px 10px 10px;
    border: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.feature span {
    color: #DF4551;
    font-weight: 600;
}

.btn-circle {
    width: 45px;
    height: 45px;
    border: 3px solid;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
  }
  
  .btn-circle i {
    position: relative;
    top: -1px;
  }

  .btn-circle-xl {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 1.3rem;
  }